<%layout('layouts/boilerplate')%>
<h1 class="text-center">Request for Help</h1>
<div class="row mb-3">
    <div class="col-6 offset-3">
        <form action="/admin/request/<%= id %>/indirect" method="POST" novalidate class="validated-form" >
            
            <div class="mb-3">
                <label for="restype" class="form-label">Resource</label>
                <select class="form-select" id="restype" name="restype">
                    <% for(let r of reslt){ %>
                        <option value="<%= r.ResourceType %>"><%= r.ResourceType %></option>
                        <% } %>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="category">
                    <option value="food">Food</option>
                    <option value="clothes">Clothes</option>
                    <option value="medicine">Medicine</option>
                    <option value="water">Water</option>
                    <option value="equipment">equipment</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">quantity</label>
                <input type="text" id="title" name="quantity" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="priority" class="form-label">priority</label>
                <select class="form-select" id="priority" name="priority">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Submit request</button>
            </div>
        </form>
       
    </div>
</div>
