<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-...your-sha512-hash-here..."
      crossorigin="anonymous"
    />
    <style>
    
      form{
        font-family: "Anonymous Pro", 'Times New Roman', Times, serif;
      }
      .bg-image{
      /* filter:brightness(0.6) */
        filter:opacity(80%)
      }
      
    </style>
  </head>
  <body>
    <div class="row">
      <h1 class="text-center">Agency Registration</h1>
      <div class="col-6 offset-3">
          <form action="/agencyRegistration" method="post" novalidate class="validated-form">
              
            <div class="mb-3">
              <label for="agencyname" class="form-label">AgencyName</label>
              <input type="text" id="agencyname" name="agencyname" class="form-control" required>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>
          <div class="mb-3">
      
            <select id="type" name="agencytype" class="form-select">
              <option value="">--select type--</option> 
            <option value="Police Department">Police Department</option>
            <option value="Fire Department">Fire Department</option>
            <option value="Search And Rescue">Search And Rescue</option>
            <option value="Disaster response force">Disaster response force</option>
            <option value="Emergency Medical Services">EMS</option>
            </select></div>
          <div class="mb-3">
            <label for="agencydesc" class="form-label">AgencyDescription</label>
            <input type="text" id="agencydesc" name="agencydesc" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
            <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" id="username" name="username" class="form-control" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" id="email" name="email" class="form-control" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" id="password" name="password" class="form-control" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                  <label for="phone" class="form-label">Phone Number</label>
                  <input type="tel" id="phone" name="phone" class="form-control" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">address</label>
                <input type="text" id="address" name="address" class="form-control" value=" ">
            </div>
            <div class="row">
              <div class="col">
              <div class="mb-3">
                  <label for="latitude" class="form-label">Latitude</label>
                  <input type="text" id="latitude" name="latitude" class="form-control" value=" ">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                  <label for="longitude" class="form-label">Longitude</label>
                  <input type="text" id="longitude" name="longitude" class="form-control" value=" ">
              </div>
            </div>
            </div>
              <button type="button" class="btn btn-primary mb-3" onclick="getLocation()">Use Your Current Location</button>
             
              <div class="mb-3">
                  <button class="btn btn-success">Sign Up</button>
              </div>
          </form>
          <!-- <p>For Volunteer Registration <a href="/volunteer/signup">Click here</a></p> -->
      </div>
  </div>

  <script>
      const latitude = document.getElementById("latitude");
      const longitude = document.getElementById("longitude");
      function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              addressInput.value = "Geolocation is not supported by this browser.";
          }
      }

      function showPosition(position) {
          const lat = position.coords.latitude;
          const long = position.coords.longitude;
          // addressInput.value = Latitude: ${latitude}, Longitude: ${longitude};
          latitude.value=`${lat}`;
          longitude.value=`${long}`;
      }
  </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
